.search-result {
    margin: auto;
    width: 75%;
}

#search-form-results {
    margin:auto;
    margin-top: 2% !important;
}

#search-box-results {
    display: inline-block;
    width: 75%;
}

#search-submit-results {
    display: inline-block;
}

#num-search-results {
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
}

#result-container {
    margin-top: 3%;
}
