<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.google.sps.filters.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>add-goal</url-pattern>
        <url-pattern>add-experience</url-pattern>
        <url-pattern>confirmation</url-pattern>
        <url-pattern>delete-availability</url-pattern>
        <url-pattern>delete-experience</url-pattern>
        <url-pattern>delete-goal</url-pattern>
        <url-pattern>delete-tutor-session</url-pattern>
        <url-pattern>history</url-pattern>
        <url-pattern>manage-availability</url-pattern>
        <url-pattern>manage-lists</url-pattern>
        <url-pattern>my-students</url-pattern>
        <url-pattern>rating</url-pattern>
        <url-pattern>registration</url-pattern>
        <url-pattern>scheduling</url-pattern>
    </filter-mapping>
</web-app>
